@use 'base/variables' as *;
@use 'base/mixins' as *;

.boton {
    @include boton($azul, $blanco);
}

.boton-80percent {
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: .5rem;

    @include boton($azul, $blanco);

    @include tablet {
        width: auto;
    }

    &:hover {
        background-color: $blanco;
        color: $azul;
    }
}

.boton-eliminar {
    @include boton($rojo, $blanco);
    
    & {
        border-radius: .5rem;
        display: inline-block;
        margin: 0;
        font-size: 1.6rem;
        padding: 1rem 3rem;
        }
    
}