@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'sass:color';

.formulario {
    width: 100%;
    margin-top: 3rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    @include telefono {
        flex-direction: row;
        width: auto;
        margin-bottom: 2rem;
    }

    label {
        flex: 0 0 1rem;
        @include tablet {
            flex: 0 0 8rem;
        }
        @include telefono {
            flex: 0 0 6rem;
        }
    }

    input {
        flex: 1;
        border: none;
        padding: calc($separacion / 4);
        border-radius: .5rem;
        width: 85%;

        @include telefono {
            width: 100%;
        }

        &:disabled {
            color: $blanco;
        }
    }
}