@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'sass:color';

.citas {
  list-style: none;
  padding: 0;

  .cita {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: color.adjust($azul, $lightness: -33%);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:nth-child(odd) {
      background-color: color.adjust($azul, $lightness: -40%);
    }

    &:hover {
      transform: scale(1.01);
    }

    p {
      font-weight: bold;
      color: $azul;
      margin-bottom: 0.25rem;

      span {
        color: $blanco;
        font-weight: normal;
      }
    }

    fieldset {
      border-radius: 1.5rem;
      background-color: color.adjust($azul, $lightness: -20%);
    }

    h3 {
      text-align: left;
      margin-top: .5rem;
      color: $blanco;
      margin-bottom: 0;
      padding: .5rem 1rem;
      background-color: color.adjust($azul, $lightness: -40%);
      border-radius: 1rem;
      font-size: 2.5rem;
    }

    .contenedor-servicios {
      list-style: disc;
      list-style-position: inside;
      margin-left: 1rem;
      padding: .5rem 1rem;
      border-radius: 1rem;

      .servicio {
        font-size: 1.8rem;
        .precio {
          background-color: color.adjust($azul, $lightness: -20%);
          padding: 0.3rem 0rem;
          border-radius: 0.6rem;
          margin-left: 0.5rem;
          display: inline-block;
          font-weight: bold;
        }

        color: $blanco;
        margin-bottom: 0.5rem;
        font-weight: $regular;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .total {
      margin-top: 1rem;
      font-weight: bold;
      color: $azul;
      text-align: right;
      font-size: 2.5rem;
      span {
        color: $blanco;
        font-weight: bold;
      }
    }
    .footer-cita {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }
}